<h2 mat-dialog-title>{{ isEdit ? 'Modifier la question' : 'Nouvelle question' }}</h2>

<mat-dialog-content>
    <form [formGroup]="questionForm">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Texte de la question</mat-label>
            <textarea matInput formControlName="text" rows="3"
                placeholder="Ex: Les surfaces de travail sont propres et désinfectées" required></textarea>
            @if (questionForm.get('text')?.hasError('required')) {
            <mat-error>Le texte est requis</mat-error>
            }
            @if (questionForm.get('text')?.hasError('minlength')) {
            <mat-error>Le texte doit contenir au moins 10 caractères</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Points (Score Total)</mat-label>
            <input matInput type="number" formControlName="weight" min="0" required>
            <mat-hint>Points attribués si la réponse est correcte</mat-hint>
        </mat-form-field>


        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Réponse correcte (Full Point)</mat-label>
            <mat-select formControlName="correct_answer" required>
                <mat-option value="oui">Oui</mat-option>
                <mat-option value="non">Non</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Points pour N/A</mat-label>
            <input matInput type="number" formControlName="na_score" min="0">
            <mat-hint>Points attribués si la réponse est N/A</mat-hint>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Annuler</button>
    <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!questionForm.valid">
        {{ isEdit ? 'Modifier' : 'Créer' }}
    </button>
</mat-dialog-actions>